.experienceBar {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}

.experienceBar > span {
  font-size: 1rem;
}

.experienceBar > div {
  height: 4px;
  border-radius: 4px;
  background: var(--gray-line);
  flex: 1;
  margin: 0 1.5rem;
  position: relative;
}

.currentExperienceBar {
  background: var(--green);
  height: inherit;
  border-radius: inherit;
  transition: ease 1s;
}

.currentExperienceText {
  position: absolute;
  top: 12px;
  transform: translateX(-50%);
  width: 55px;
  display: inline-flex;
}

@media (max-width: 900px) {
  .experienceBar > span {
    font-size: 1.5rem;
  }

  .experienceBar > div {
    height: 5px;
  }

  .currentExperienceText {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .experienceBar > span {
    font-size: 1.2rem;
  }

  .currentExperienceBar {
    height: 4px;
  }

  .currentExperienceText {
    font-size: 1.2rem;
  }
}
